body {
  background-color: #E8EEF2;
  font-family: 'Open Sans', sans-serif;
  color: #7D7D7D;
  font-size: 90%;
  line-height: 2rem;
}

#sidebar {
  position: fixed;
  width: 130px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #384047;
  text-align: center;
  padding-top: 50px;
}

#page-content {
  margin-left: 220px;
}

#image-profile {
  width: 20%;
  border: 3px solid rgb(163, 159, 159);
}

.icon-padding {
  padding-top: 50px;
}

.round-image {
  border-radius: 50%;
}

.container {
  text-align: center;
  margin: 0;
  width: 90%;
}

.card {
  padding: 35px;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.list-inline>li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.text-left {
  text-align: left;
}

.link-color {
  color: #BD6B73;
}

.link-color:hover {
  color: #69353F;
}

ul {
  margin-left: 30px;
}

h1 {
  color: #A30B37;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #7D7D7D;
}

a:hover {
  color: white;
}

@media (max-width: 640px) {
  .container {
    width: 400px;
  }

  #page-content {
    margin-left: 20px;
  }

  #sidebar {
    display: none;
  }

}
